.header{
    display:flex;
}

.header-profile-picture{
    border-radius:50%;
}

.header-left-flex{
    display:flex;
    height: 33px;
    gap:12px;
}

.header-right-flex{
    display:flex;
    height:33px;
    right:25px;
    gap: 16px;
    margin-left:auto;
}

#search-bar{
    width:500px;
}

.page-grid{
display:grid;
grid-template-areas:
    'video recommended'
    'comments recommended';
}

.video-area-flex{
    display:flex;
    width:1300px;
    height:1000px;
    margin-top:16px;
    margin-left: 40px;
    flex-direction: column;
    grid-area: video;
}

#oxia-video{
    margin-left:30px;
    margin-top:16px;
}

#oxia-title{
    margin-left:30px;
    font-family:Arial;
}

.oxia-info{
    margin-left:30px;
    font-family: Arial;
}

.recommended-videos-flex{
    display:flex;
    flex-direction: column;
    width:400px;
    height:2000px;
    margin-top:32px;
    gap:7px;
    grid-area: recommended;
}

.recommended-video-grid{
    display:grid;
    grid-template-areas:
    'thumb title'
    'thumb info';
    height:94px;
}

.recommended-video-thumbnail{
    grid-area: thumb;
}

.recommended-video-title{
    grid-area: title;
    font-family:Arial;
    margin:0;
    margin-left:3px;
    font-size: 16px;
}

.recommended-video-info{
    grid-area: info;
    font-family:Arial;
    font-size:15px;
    margin-left:3px;
    margin-top:0px;
}

.comments-flex{
    display:flex;
    width:1300px;
    height:670px;
    grid-area: comments;
    margin-left:40px;
}

.comments-number{
    margin-left:30px;
    font-family: Arial;
}